
<DSL Version='1.13'>
    <Project>
        <Name>TrainingLib.MSModel</Name>
        <Version>01.02.01</Version>
        <Prefix>Siemens.Mom.Presales.Training</Prefix>
        <Domain>MasterData</Domain>
        <DomainAcronym>MS</DomainAcronym>
        <Guid>235e63ba-50fe-4e3e-930c-b2bad6d45568</Guid>
		<ProjectKind>Library</ProjectKind>
    </Project>
    <References>
		<Project>
			<Name>TrainingLibView.TNModel</Name>
			<Version>01.00.00</Version>
			<Prefix>Siemens.Mom.Presales.Training</Prefix>
			<Domain>Training</Domain>
			<DomainAcronym>TN</DomainAcronym>
			<Guid>38460052-0d01-4f98-be99-1cca0536ba3b</Guid>
		</Project>
    </References>
</DSL>